<div class="account-layout">
  <!-- Sidebar Menu -->
  <!-- <div class="sidebar">
    <div class="sidebar-header">
      <h3>Quản lý tài khoản</h3>
    </div>
    
    <nav class="sidebar-nav">
      <ul class="nav-list">
        <li class="nav-item">
          <a routerLink="payment" routerLinkActive="active" class="nav-link">
            <i class="pi pi-credit-card"></i>
            <span>Tài khoản thanh toán</span>
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="saving" routerLinkActive="active" class="nav-link">
            <i class="pi pi-wallet"></i>
            <span>Tiết kiệm</span>
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="credit" routerLinkActive="active" class="nav-link">
            <i class="pi pi-money-bill"></i>
            <span>Tín dụng</span>
          </a>
        </li>
      </ul>
    </nav>
  </div> -->

  <!-- Main Content -->
  <div class="main-content">
    <router-outlet></router-outlet>
  </div>
</div>