<div class="card" *ngIf="!showConfirmForm">
    <h2 class="header-title p-mb-3 text-center">
        <button pButton type="button" class="p-button-rounded p-button-text" style="pointer-events: none;">
            <img src="https://kienlongbank.com/Data/Sites/1/media/logo-klb/logo-kienlongbank-favicon.png" width="24" height="24" alt="icon" />
        </button>Thanh toán hóa đơn</h2>
    <form [formGroup]="payBillForm" (ngSubmit)="onSubmit()">
        <div class="p-fluid p-formgrid p-grid">
            <div class="p-field p-col-12 p-md-6">
                <label for="fromAccountNumber">
                    <i class="pi pi-user mr-2 ml-2"></i> Tài khoản của bạn:
                    <small *ngIf="fromCustomerName" style="font-size: 14px;">
                        <strong>{{ fromCustomerName }}</strong>
                    </small>
                </label>
                <div class="flex">
                    <p-dropdown
                        formControlName="fromAccountNumber"
                        [options]="accounts"
                        optionLabel="accountDescription"
                        optionValue="accountNumber"
                        [showClear]="false"
                        class="w-full md:w-56"
                        (onChange)="onFromAccountChange($event)"
                        [ngClass]="{
                            'ng-invalid ng-dirty': submitted && payBillForm.controls['fromAccountNumber'].errors
                        }"
                        aria-describedby="fromAccountNumber-help">
                    </p-dropdown>
                    <button pButton type="button" class="p-button-rounded p-button-text" style="pointer-events: none;">
                        <img src="https://kienlongbank.com/Data/Sites/1/media/logo-klb/logo-kienlongbank-favicon.png" width="24" height="24" alt="icon" />
                    </button>
                </div>
                <div *ngIf="selectedBalance !== null" class="p-mt-2">
                    <p>
                        <i class="pi pi-money-bill mr-2"></i> Số dư:
                        {{ selectedBalance | number : "1.0-0" }} VNĐ
                    </p>
                </div>
                <small
                    id="fromAccountNumber-help"
                    *ngIf="submitted && payBillForm.controls['fromAccountNumber'].errors?.['required']"
                    class="p-error">
                    Số tài khoản nguồn không được để trống.
                </small>
            </div>

            <div class="formgrid grid">
                <div class="p-field p-col-12 md:col-6">
                    <label for="amount">Số tiền thanh toán:</label>                 
                    <p-inputNumber
                    id="amount"
                    formControlName="amount"
                    mode="currency"
                    currency="VND"
                    locale="vi-VN"
                    aria-describedby="amount-errors"
                    [disabled]="true">  
                </p-inputNumber> 
 
                </div>
            </div>

            <div class="p-field p-col-12">
                <label for="description">Nội dung thanh toán:</label>
                <textarea
                    pTextarea
                    id="description"
                    formControlName="description"
                    rows="5"
                    cols="30"
                    placeholder="Nhập nội dung">
                </textarea>
            </div>

            <!-- Bill Information -->
            <div class="p-field p-col-12">
                <label>Thông tin hóa đơn</label>
                <div class="p-3 border-1 border-round surface-border">
                    <div class="grid">
                        <div class="col-12 md:col-4">
                            <div class="text-sm font-semibold mb-2">Loại hóa đơn</div>
                            <div>{{ billType=='electricity' ? 'Điện' : billType=='phone' ? 'Điện thoại'
        : billType=='water' ? 'Nước' : 'Internet' }}</div>
                        </div>
                        <div class="col-12 md:col-4">
                            <div class="text-sm font-semibold mb-2">Nhà cung cấp</div>
                            <div>{{provider}}</div>
                        </div>
                        <div class="col-12 md:col-4">
                            <div class="text-sm font-semibold mb-2">Mã khách hàng</div>
                            <div>{{customerCode}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="p-d-flex p-jc-between p-mt-4">
            <button
                pButton
                pRipple
                type="button"
                label="Quay về"
                icon="pi pi-arrow-left"
                class="p-button-secondary mr-2"
                (click)="goBack()">
            </button>
            <button
                pButton
                pRipple
                type="submit"
                label="Tiếp tục"
                icon="pi pi-check"
                class="p-button-primary"
                [disabled]="submitted && payBillForm.invalid">
            </button>
        </div>
    </form>
</div>

<app-confirm-transaction    
    *ngIf="showConfirmForm && somePayBillData"
    [transactionData]="somePayBillData"
    (cancel)="onCancelConfirm()">
</app-confirm-transaction>

<p-toast></p-toast>

